.container {
  display: grid;
  grid-template:
    "top top"
    "left right";
}

.top {
  grid-area: top;
  /* background-color: red; */
}
.left {
  grid-area: left;
  /* background-color: green; */
  border: solid;
}
.right {
  grid-area: right;
  /* background-color: blue; */
  border: solid;
}

h2 {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.btn {
  padding: 5px 10px;
  font-size: 20px;
}

.upload {
  padding: 20px;
}

#downloadBtn {
  display: none;
}
